header {
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-bottom: 20%;
    font-size: 100px;
    letter-spacing: 7px;
    line-height: 45px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #e5b97d;
}