/* --- Hero Section --- */

header {
    padding: 30px;
    width: 80%;
}

header h1 {
    margin-bottom: 20%;
    font-size: 40px;
    letter-spacing: 7px;
    line-height: 45px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #e5b97d;
}

/* --- Section --- */ 
.SectionCompetence3D, .SectionMethode{
    width: 80%;
    margin: 30px auto;
}

.SectionCompetence3D h3 {
    color: #e5b97d;
}

.SectionMethode p span {
    color: #e5b97d;
}

.SectionCompetence3D p span {
    color: #e5b97d;
}

.SectionCompetence3D img {
    width: 100%;
    height: auto;
    max-width: 960px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid #e5b97d;
}

.SecteurPanel {
    width: 90%;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.SecteurContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0px 30px;
}

.SecteurContent h3{
    font-size: 24px;
    font-weight: bold;
    color: #bfbcb8;
    margin-bottom: 10px;    
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

.SecteurContent p span{
    color: #e5b97d;
}

.secteurCards{
    position: relative;
    background: #333;
    height: 50vh;
    max-height: 550px;
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px auto;
    max-width: 300px;
}

.S_cards_img_Container{
    margin: -2rem -2rem 1rem -2rem;
    display: flex;
    justify-content: center;
}

.S_cards_img_Container img{
    width: auto;
    height: 310px;
}

.card__svg {
    position: absolute;
    left: -10px;
    top: 115px;
    width: 110%;
}

.card__content h4 {
    color: #bfbcb8;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
    text-align: left;
}

.card__content {
    position: absolute;
    left: 0;
    bottom: 2%;
    padding: 5%;
    text-align: center;
}

.card__content {
    text-align: left;
}

/* --- Project Overview --- */ 

/* -- Projet Section --- */

.ProjectOverview {
    width: 100%;
    margin: 30px auto;
}

.ProjectContainer {
    width: 90%;
    height: 100%;
    max-height: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.ProjectContainer h3 {
    font-size: 24px;
    font-weight: bold;
    color: #bfbcb8;
    margin-bottom: 10px;    
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.ProjectGridCGI {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    overflow: hidden;
}

/* Cards Image De Synthese */
.cards1 { grid-area: 1 / 1 / 2 / 3; }
.cards2 { grid-area: 2 / 1 / 4 / 2; }
.cards3 { grid-area: 2 / 2 / 3 / 3; }
.cards4 { grid-area: 3 / 2 / 4 / 3; }
.cards5 { grid-area: 4 / 1 / 5 / 3; }
.cards6 { grid-area: 5 / 1 / 6 / 2; }
.cards7 { grid-area: 6 / 1 / 7 / 2; }
.cards8 { grid-area: 5 / 2 / 7 / 3; }
.cards9 { grid-area: 7 / 1 / 8 / 2; }
.cards10 { grid-area: 7 / 2 / 8 / 3; }

.ProjectCards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.ProjectCards img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.ProjectCards:hover img {
    transform: scale(1.1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    filter: saturate(0);
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -o-filter: saturate(0);
    -ms-filter: saturate(0);
}


.projectProduct {
    border-radius: 10px;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.projectProduct a {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.projectProduct a:hover h4 {
    color: #e5b97d;
}


.projectProduct::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.3) 50%, transparent 80%);
    pointer-events: none;
}

.projectProduct h4 {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #bfbcb8;
    z-index: 10;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease;
}
