body, html {
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #bfbcb8;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #141414;
}


.sidebar {
    position: fixed;
    top: 0;
    left: -320px; 
    width: 300px;
    height: 100%;
    background-color: #141414;
    color: #bfbcb8;
    overflow-y: auto;
    padding: 20px;
    box-shadow:  9px 9px 17px #090909;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar h2 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #e5b97d;
    padding-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 35px 0;
}

.sidebar ul li a {
    padding: 10px 30px;
    color: #bfbcb8;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}



.sidebar ul li a:hover {
    color: #e5b97d;
    border-bottom: 2px solid #e5b97d;
}


.sidebar ul li ul {
    margin-left: 30px;
    margin-top: 10px;
}

.sidebar ul li ul li a {
    font-size: 16px;
}


.menu-toggle {
    display: none; 
}

.menu-toggle-label {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #141414;
    box-shadow:  2px 2px 7px #090909,
             -2px -2px 7px #525252;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1100;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.menu-toggle-label:hover {
    background-color: #444;
}

.hamburger {
    width: 20px;
    height: 2px;
    background-color: #e5b97d;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #e5b97d;
    position: absolute;
    left: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.hamburger::before {
    top: -6px;
}

.hamburger::after {
    top: 6px;
}

main {
    padding-left: 20px;
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: -22px 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2048' height='2048' preserveAspectRatio='none' viewBox='0 0 2048 2048'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2726%26quot%3b)' fill='none'%3e%3crect width='2048' height='2048' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2727%26quot%3b)'%3e%3c/rect%3e%3cpath d='M2048 0L1157.1100000000001 0L2048 760.69z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1157.1100000000001 0L2048 760.69L2048 1220.3000000000002L673.7500000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M673.75 0L2048 1220.3000000000002L2048 1243.8500000000001L565.64 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M565.6400000000001 0L2048 1243.8500000000001L2048 1529.6200000000001L287.4100000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 2048L732.23 2048L0 1763z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 1763L732.23 2048L1205.18 2048L0 1492.75z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 1492.75L1205.18 2048L1559.81 2048L0 1100.79z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 1100.79L1559.81 2048L1853.1399999999999 2048L0 1001.24z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2726'%3e%3crect width='2048' height='2048' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2727'%3e%3cstop stop-color='rgba(98%2c 98%2c 98%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(40%2c 40%2c 40%2c 1)' offset='0.37'%3e%3c/stop%3e%3cstop stop-color='rgba(20%2c 20%2c 20%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21212165;
    z-index: 500;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.menu-toggle:checked ~ .sidebar {
    left: 0;
}

.menu-toggle:checked ~ main {
    -webkit-transform: translateX(-2em) perspective(600px) rotateY(-10deg);
	-moz-transform: translateX(-2em) perspective(600px) rotateY(-10deg);
	-ms-transform: translateX(-2em) perspective(600px) rotateY(-10deg);
	-o-transform: translateX(-2em) perspective(600px) rotateY(-10deg);
	transform: translateX(-2em) perspective(600px) rotateY(-5deg);
}

.menu-toggle:checked ~ main::before {
    opacity: 1;
}

.button {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #bfbcb8;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.123) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    box-shadow:  2px 2px 7px #090909,
                -2px -2px 7px #525252;
    transform: scale(0);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.button:hover::after {
    transform: scale(4);
}

.button:hover {
    border-color: #666666;
    background: #292929;
    color: #e5b97d;
}

.separator {
        width: 100%;
        height: 4px;
        border-radius: 50%;
        background-color: #e5b97d;
        margin-top: 20px;
        box-shadow: 0px 5px 2px 0px rgba(155,155,155,0.6),0px 0px 3px 0px rgba(255,255,255,0.8),0px 4px 10px 4px rgba(55,55,55,0.9);
        margin-bottom: 20px;
    }
