.HeroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 20px 0px 0px 20px;
    position: relative;
    background-image: url(/assets/hero.png);
    background-size: 150vh;
    background-position: 20% 40%;
    background-repeat: no-repeat;
}

.HeroText {

    width: 90%;
    max-width: 450px;
    padding: 10px;
    text-transform: uppercase;
}

.HeroText h1 {
    margin-bottom: 20%;
    font-size: 40px;
    letter-spacing: 7px;
    line-height: 45px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #e5b97d;
}

.HeroText h2 {
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: left;
    color: #e5b97d;
    text-transform: none;
    line-height: 35px;
}

.HeroSection p {
    text-align: left;
    padding: 0px 20px;
    margin: 20px 0px;
}

.HeroSection .button {
    margin: auto;
}


/* --- About Section --- */


.AboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 150px;
    margin: 40px 5px;
}

.AboutSection h3 {
    font-size: 24px;
    font-weight: bold;
    color: #bfbcb8;
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase;
}
.Verticalseparator {
    width: 2px;
    height: 130px;
    background-color: #e5b97d;
    margin: 0px 0px;
}

.AboutContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    min-height: 150px;
    width: 80%;
    max-width: 550px;
    margin: 5px 0px;
}

.Logosoft {
    width: 80%;
    max-width: 500px;
}

h5 {
    margin: 10px;
    font-size: 1rem;
    color: #e5b97d;
}

.AboutContent h4 {
    margin-left: 20px;
    font-size: 20px;
    color: #bfbcb8;
    max-width: 250px;
}

.AboutContent img {
    object-fit: cover;
    height: auto;
    margin: 10px;
    width: 100%;
    max-width: 30%;
}

.AboutSection p {
    text-align: left;
    padding: 0px 30px;
}

/* --- Secteur Section --- */

.SecteurPanel {
    width: 90%;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.SecteurContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0px 30px;
}

.SecteurContent h3{
    font-size: 24px;
    font-weight: bold;
    color: #bfbcb8;
    margin-bottom: 10px;    
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

.SecteurContent p span{
    color: #e5b97d;
}

.secteurCards{
    position: relative;
    background: #333;
    height: 60vh;
    max-height: 550px;
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px auto;
    max-width: 300px;
}

.S_cards_img_Container{
    margin: -2rem -2rem 1rem -2rem;
    display: flex;
    justify-content: center;
}

.S_cards_img_Container img{
    width: auto;
    height: 310px;
}

.card__svg {
    position: absolute;
    left: -10px;
    top: 115px;
    width: 110%;
}

.card__content h4 {
    color: #bfbcb8;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
    text-align: left;
}

.card__content {
    position: absolute;
    left: 0;
    bottom: 2%;
    padding: 5%;
    text-align: center;
}

.card__content {
    text-align: left;
}

/* --- Section Project --- */

.SectionProject {
    padding: 30px;
}

.ProjectGrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 200px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 50px auto;
    max-width: 1080px;
}

.projectProduct {
    border-radius: 10px;
    border: 2px solid #e5b97d;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.projectProduct a {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.projectProduct a:hover h4 {
    color: #e5b97d;
}


.projectProduct::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.3) 50%, transparent 80%);
    pointer-events: none;
}

.projectProduct h4 {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #bfbcb8;
    z-index: 10;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease;
}

.ProjectCard1 {
    grid-area: 1 / 1 / 2 / 3;
}
.ProjectCard2 {
    grid-area: 2 / 1 / 3 / 2;
}
.ProjectCard3 {
    grid-area: 2 / 2 / 4 / 3;
}
.ProjectCard4 {
    grid-area: 3 / 1 / 5 / 2;
}
.ProjectCard5 {
    grid-area: 4 / 2 / 5 / 3;
}
.ProjectCard6 {
    grid-area: 5 / 1 / 6 / 3;
}

.ProjectCard1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
}

.ProjectCard2 img {
    height: 100%;    
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
}

.ProjectCard3 img {
    height: 100%;    
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
}    

.ProjectCard4 img {          
    height: 100%;    
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
}

.ProjectCard5 img {
    height: 100%;    
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
}

.ProjectCard6 img {
    height: 100%;    
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
}

.SectionProject .button {
    width: 200px;
    margin: auto;
}

.SectionContact .button {
    width: 200px;
    margin: auto;
}

/*--- Media Queries ---*/

@media screen and (min-width: 1024px) {

    .HeroSection {
        background-position: right center;
    }

    .HeroSection .button {
        margin: 0 !important;
    }

}