.HeroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}

.HeroImage {
    position: relative;
    width: 100%;
    min-height: 40vh;
    max-height: 80vh;
    margin-bottom: 20px;
    background-image: url(assets/Hero.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeroText {
    margin-top: 100px;
    width: 90%;
    max-width: 450px;
    padding: 10px;
    text-transform: uppercase;
}

.HeroText h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow:
    1px 1px 8px black,
    0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);
}

.HeroText h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow:
    1px 1px 8px black,
    0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);
}


/* --- About Section --- */


.AboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    min-height: 150px;
    margin: 40px 20px;
}

.AboutSection h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #bfbcb8;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.AboutContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    min-height: 150px;
    width: 100%;
    margin: 20px
}

.AboutContent p {
    margin: 10px;
    font-size: 1rem;
    color: #bfbcb8;
    max-width: 250px;
}

.AboutContent img {
    object-fit: cover;
    max-width: 50%;
    height: auto;
    margin: 10px;
    max-width: 250px;
    border-radius: 20px;
    width: 95%;
}

/* --- Secteur Section --- */

.SecteurSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2048' height='2048' preserveAspectRatio='none' viewBox='0 0 2048 2048'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2726%26quot%3b)' fill='none'%3e%3crect width='2048' height='2048' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2727%26quot%3b)'%3e%3c/rect%3e%3cpath d='M2048 0L1157.1100000000001 0L2048 760.69z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1157.1100000000001 0L2048 760.69L2048 1220.3000000000002L673.7500000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M673.75 0L2048 1220.3000000000002L2048 1243.8500000000001L565.64 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M565.6400000000001 0L2048 1243.8500000000001L2048 1529.6200000000001L287.4100000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 2048L732.23 2048L0 1763z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 1763L732.23 2048L1205.18 2048L0 1492.75z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 1492.75L1205.18 2048L1559.81 2048L0 1100.79z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 1100.79L1559.81 2048L1853.1399999999999 2048L0 1001.24z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2726'%3e%3crect width='2048' height='2048' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2727'%3e%3cstop stop-color='rgba(98%2c 98%2c 98%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(40%2c 40%2c 40%2c 1)' offset='0.37'%3e%3c/stop%3e%3cstop stop-color='rgba(20%2c 20%2c 20%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow:  2px 2px 7px #090909,
                -2px -2px 7px #a3a3a3;

    border-radius: 20px;
    min-height: 150px;
    margin: 40px 20px;
}

.secteurColumn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 150px;
    width: 100%;
}

.secteurColumn h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #bfbcb8;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.secteurTheme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 2px 10px 10px 20px;
    margin: 30px auto 0px auto;
    min-width: 200px;
    width: 100%;
}

.secteurTheme h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #bfbcb8;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.secteurTheme p {
    margin: 10px;
    font-size: 1rem;
    color: #bfbcb8;
    max-width: 250px;
}

.secteurTheme img {
    object-fit: cover;
    max-width: 80%;
    height: auto;
    margin: 10px;
    max-width: 90%;
    border-radius: 20px;
    box-shadow: 0px 5px 2px 0px rgba(155,155,155,0.6),0px 0px 3px 0px #3cdcdccc,0px 4px 10px 4px rgba(55,55,55,0.9);
}
