.HeroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px 0px 20px;
    position: relative;
}

.HeroImage {
    width: 100%;
    min-height: 65vh;
    max-height: 70vh;
    background-image: url(https://dchartrain-3dartist.github.io/assets/hero.png);
    background-size: 150vh;
    background-position: 20% 40%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items:center;
    opacity: 60%;
}

.HeroText {
    position: absolute;
    top: 10%;
    width: 90%;
    max-width: 450px;
    padding: 10px;
    text-transform: uppercase;
}

.HeroText h1 {
    margin-bottom: 80px;
    font-size: 40px;
    letter-spacing: 7px;
    line-height: 45px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #e5b97d;
}

.HeroText h2 {
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: left;
    color: #e5b97d;
    text-transform: none;
    line-height: 35px;
}

.HeroSection p {
    z-index: 10;
    margin-top: -50px;
    text-align: left;
    padding: 0px 20px;
}


/* --- About Section --- */


.AboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    min-height: 150px;
    margin: 40px 20px;
}

.AboutSection h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #bfbcb8;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.AboutContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    min-height: 150px;
    width: 100%;
    margin: 20px
}

.AboutContent p {
    margin: 10px;
    font-size: 1rem;
    color: #bfbcb8;
    max-width: 250px;
}

.AboutContent img {
    object-fit: cover;
    max-width: 50%;
    height: auto;
    margin: 10px;
    max-width: 250px;
    border-radius: 20px;
    width: 95%;
}

/* --- Secteur Section --- */

.SecteurSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    min-height: 150px;
    margin: 40px 20px;
}

.secteurColumn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 150px;
    width: 100%;
}

.secteurColumn h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #bfbcb8;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.secteurTheme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 2px 10px 10px 20px;
    margin: 30px auto 0px auto;
    min-width: 200px;
    width: 100%;
    border: 2px solid white;
}

.secteurTheme h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #bfbcb8;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.secteurTheme p {
    margin: 10px;
    font-size: 1rem;
    color: #bfbcb8;
    max-width: 250px;
}

.secteurTheme img {
    object-fit: cover;
    max-width: 80%;
    height: auto;
    margin: 10px;
    max-width: 90%;
    border-radius: 20px;
    box-shadow: 0px 5px 2px 0px rgba(155,155,155,0.6),0px 0px 3px 0px #3cdcdccc,0px 4px 10px 4px rgba(55,55,55,0.9);
}
